
  
  /* Additional styles */
  .headingCss {
    color: '#99a1b7';
    letter-spacing: 0.5px;
    border-bottom: 1px solid #80808040;
    padding-bottom: 20px;
    text-transform: uppercase;
  }
  
  .boxHeight {
    overflow: hidden;
    height: 535px;
    overflow-y: auto;
  }
  

